/*-------------
    RESET
-------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*-------------
    GENERAL
-------------*/

.container {
  margin: auto;
  width: 1200px;
}

body {
  display: flex;
  background-color: rgb(49, 47, 47);
  justify-content: center;
}

/*-------------
    TASKLIST
-------------*/
.task-list h3 {
  text-align: center;
  color: white;
  font-size: 26px;
}

table {
  border-collapse: collapse;
  margin: 16px auto;
  width: 1000px;
  height: 500px;
  background-color: rgb(254, 254, 254);
}

td,
th {
  border: 1px solid #ddd;
  padding: 10px;
}

.task-list a {
  text-decoration: none;
  color: inherit;
}

.task-list a:hover {
  color: blue;
}

/*-------------
    ADDTASK FROM
-------------*/
.container-newtask h2 {
  text-align: center;
  padding-bottom: 30px;
  font-size: 24px;
  color: white;
}
.newtask-form {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 30px;
}

.error-cont {
  color: red;
}

.newtask-form label,
input {
  margin-bottom: 20px;
  padding: 4px;
}

#descr {
  display: block;
  padding: 10px;
  height: 200px;
  width: 500px;
}

button {
  padding: 4px 8px;
  margin-top: 10px;
  cursor: pointer;
}

.update-form {
  display: flex;
  flex-direction: column;
}
.update-form label {
  margin-bottom: 20px;
  padding-top: 10px;
}
.update-form textarea {
  height: 200px;
}
.update-form textarea,
select {
  width: calc(100%);
}

.update-form input {
  width: calc(100%);
}

/*-------------
    TASKDETAIL
-------------*/

.container-task {
  display: flex;
  justify-content: center;
}

.card-task {
  width: 1000px;
  height: 500px;
  background-image: url(/foglio-pulito-di-quaderno-a-strisce_108905-104.jpg);
  background-size: cover;
  border-radius: 10px;
  position: relative;
}

.card-task h2 {
  text-align: center;
  padding-top: 30px;
  font-size: 24px;
}

.par-task {
  padding: 50px;
  justify-content: center;
}
.par-task button {
  display: block;
}

.par-task p {
  padding: 10px;
}

.cont-action {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/*-------------
    MODAL
-------------*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  width: 500px;
  height: 600px;
  /* display: flex; */
}

.modal p {
  padding: 20px 0px;
}
.modal button {
  margin: 4px;
}
