.list-navbar {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  border-style: solid;
  color: rgb(0, 0, 0);
  font-size: 18px;
  background-color: rgb(255, 255, 255);
  height: 15vh;
  align-items: center;
}

.list-navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.list-navbar a {
  text-decoration: none;
  color: inherit;
}

.list-navbar a:hover {
  color: rgb(0, 0, 0);
}

.list-navbar button {
  padding: 6px 14px;
  border-radius: 10px;
  border-color: none;
  font-size: 18px;
  margin: auto;
}

.list-navbar button:hover {
  background-color: #4ec1b3;
}
